/* Header Styling */

header {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
}

nav {
  float: right;
  margin-top: 3%;
  margin-right: 5%;
}

nav ul {

}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  position: relative;
  color: #464646;
  margin-left: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #009efd;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav span {
  display: none;
}

@media (max-width: 550px) {
  nav {
    width: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding: 0;
    margin-top: 25px;
  }

  #fix {
    margin-left: 0;
  }

nav span {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -10px;
  position: relative;
  top: 3px;
  margin: 0 6px 0 10px;
  box-shadow: none;
}

  nav a {
    margin: 0;
  }
}

.center {
  position: absolute;
  width: 800px;
  top: 50vh;
  margin-top: -100px;
  margin-left: -400px;
  left: 50%;
}

.align {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.super {
  font-size: 1.7em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: -26px;
  margin-left: 12px;
  color: #464646;
}

.center h1 {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Playfair Display', serif;
  text-transform: none;
  font-size: 6.1em;
  font-style: italic;
  font-weight: 900;
}

.sub {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  line-height: 150%;
  font-size: 1.3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #464646;
}

.arrow {
  position: absolute;
  z-index: 50;
  width: 28px;
  height: auto;
  opacity: 0.4;
  left: 50%;
  margin-left: -14px;
  bottom: 30px;
  transition: all .2s;
}

.arrow:hover {
  padding-top: 10px;
  opacity: 0.7;
  bottom: 20px;
  width: 32px;
  margin-left: -16px;
}

@media (max-width: 850px) {
  .center h1 {
    font-size: 5em;
  }

  .super {
    font-size: 1.5em;
  }

  .sub {
    font-size: 1.1em;
    margin-top: 10px;
  }

  .center {
    width: 80%;
    margin-left: -40%;
  }
}

@media (max-width: 650px) {
  .align {
    width: 100%;
  }

  .center h1 {
    font-size: 4.5em;
  }

  .super {
    font-size: 1.4em;
    margin-bottom: -20px;
  }

  .sub {
    font-size: 1.1em;
    margin-top: 10px;
  }

  .center {
    width: 80%;
    margin-left: -40%;
  }
}

@media (max-width: 510px) {
  .center h1 {
    font-size: 4.2em;
    text-align: center;
  }

  .super {
    font-size: 1.4em;
    margin-left: 30px;
  }

  .sub {
    font-size: 1.1em;
    margin-top: 10px;
  }

  .center {
    width: 90%;
    margin-left: -45%;
  }

  .arrow {
    bottom: 50px;
  }

  .arrow:hover {
    bottom: 40px;
  }
}

@media (max-width: 430px) {
  .center h1 {
    font-size: 3.5em;
  }

  .super {
    font-size: 1.3em;
    margin-bottom: -16px;
  }

  .sub {
    font-size: 1.1em;
    margin-top: 10px;
  }

  .center {
    width: 94%;
    margin-left: -47%;
  }
}

@media (max-width: 330px) {
  .center h1 {
    font-size: 3.2em;
  }

  .super {
    font-size: 1.3em;
    margin-bottom: -16px;
  }

  .sub {
    font-size: 1.1em;
    margin-top: 10px;
  }

  .center {
    width: 94%;
    margin-left: -47%;
  }
}

/* About Section Styling */

#about {
  padding: 40px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

#about h2 {
  font-weight: 700;
  font-size: 2.3em;
  color: #2a2a2a;
  margin: 0;
  text-align: left;
}

#about hr {
  width: 100px;
  margin: 0;
  border: solid rgba(0, 0, 0, 0.1) 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#about p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
  line-height: 155%;
  margin: 0;
  text-align: left;
}

.about-wrap {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}

.left {
  width: 56%;
  margin: 2%;
  display: inline-block;
}

.left p {

}

.widescreen {
  width: 240px;
  margin-left: 6%;
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 120px;
}

.mobi {
  display: none;
  width: 240px;
}

.contact {
  text-align: center;
  margin-top: 30px;
}

.icons {

}

.icons img {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  transition: all .3s;
  margin-left: 8px;
  margin-right: 8px;
}

.icons img:hover {
  opacity: .7;
}

@media (max-width: 810px) {
  .mobi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 120px;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .widescreen {
    display: none;
  }

  .left {
    margin: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #about h2 {
    text-align: center;
  }

  #about hr {
    margin-left: auto;
    margin-right: auto;
  }

  .left p {

  }
}

@media (max-width: 550px) {
  .left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contact {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  #about {
    padding-left: 25px;
    padding-right: 25px;
  }
}
