/* Work Section Styling */

#work {
  margin-top: 100vh;
  padding: 60px 5% 50px 5%;
}

#work h2 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #2a2a2a;
}

#work hr {
  width: 200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border: solid rgba(0, 0, 0, 0.1) 2px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.gallery {
  text-align: center;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.gallery a {
  text-decoration: none;
  cursor: pointer;
}

.hoverthing {
  top: 0;
  position: relative;
  transition: all 0.3s;
}

.hoverthing:hover {
  top: -12px;
}

.grid-item {
  height: 440px;
  width: 290px;
  margin: 0;
  padding: 20px 15px 20px 15px;
  position: relative;
  border-radius: 12px;
  transition: all .3s;
  top: 0;
  display: inline-block;
  margin: 20px 24px 20px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.15);
  vertical-align: top;
}

.grid-item:hover {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.15);
}

.grid-item h3 {
  color: white;
  font-weight: 500;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  text-align: left;
}

.grid-bottom {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 20px;
  text-align: right;
  right: 15px;
}

.grid-desc {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  margin-bottom: 5px;
}

.grid-date {
  margin: 0;
  padding: 0;
  font-size: .95em;
  color: white;
}

.cornerlink:hover span {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);
}

span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 4px;
  padding: 12px 18px 12px 18px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

span:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  font-size: 1.6em;
  top: 4px;
  right: 0px;
  transition: 0.4s;
  margin: 0;
  margin-right: 20px;
}

.cornerlink:hover span {
  padding-right: 40px;
}

.cornerlink:hover span:after {
  opacity: 1;
  right: 0;
}

.seeall:hover .seall:after {
  opacity: 1;
}

@media (max-width: 1250px) {
  #work {
    padding: 0 0 50px 0;
  }
}

@media (max-width: 1150px) {
  .grid-item {
    margin: 16px 20px 16px 20px;
  }
}

@media (max-width: 1100px) {
  .grid-item {
    margin: 16px;
  }
}

@media (max-width: 1070px) {
  .grid-item {
    height: 410px;
    width: 270px;
  }
  #work {
    padding: 0 .5% 50px .5%;
  }
}

@media (max-width: 1014px) {
  .grid-item {
    height: 440px;
    width: 290px;
    margin: 20px 24px 20px 24px;

  }
  #work {
    padding: 0 1% 50px 1%;
  }
}

@media (max-width: 780px) {
  .grid-item {
    height: 440px;
    width: 290px;
    margin: 12px;

  }
  #work {
    padding: 0 .5% 50px .5%;
  }
}

@media (max-width: 716px) {
  .grid-item {
    height: 410px;
    width: 270px;
    margin: 12px;

  }
  #work {
    padding: 0 .5% 50px .5%;
  }
}

@media (max-width: 665px) {
  .grid-item {
    height: 440px;
    width: 290px;
    margin: 16px;

  }
  #work {
    padding: 0 0% 50px 0%;
  }
}

@media (max-width: 385px) {
  .grid-item {
    height: 440px;
    width: 290px;
    margin-left: 0;
    margin-right: 0;
  }
  #work {
    padding: 0 10px 50px 10px;
  }

  #work h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 385px) {
  .grid-item {
    height: 410px;
    width: 270px;
    margin: 10px 0 10px 0;
  }
}
