header {
  height: 60vh;
  transition: all 0.3s;
  background-color: red;
}

body {
  background-color: #f9f9f9;
}
/*-------------------------------------
Structure Styling
--------------------------------------*/

.blog-wrapper-wrap {
  margin: 30vh auto 35px auto;
  position: relative;
  z-index: 50;
  transition: all .3s;
  max-width: 900px;
  text-align: center;
}

@media (max-width: 650px) {
  header {
    height: 60vh;
  }
  .blog-wrapper-wrap {
    margin-top: 15vh;
  }
}

.blog-wrapper-wrap h1 {
  font-size: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  color: #2a2a2a;
}

.timeframe {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7);
}

.blog-wrap {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 670px;
  background-color: white;
  margin: 0 auto 0 auto;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
}

@media (max-width: 375px) {
  .blog-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 650px) {
  .blog-wrap {
    margin-top: 10vh;
  }
}

@media (max-width: 740px) {
  body {
    background-color: white;
  }
  .blog-wrap {
    border-radius: 0;
    box-shadow: none;
  }
  .blog-wrap {
    padding-bottom: 0;
  }
}

/*-------------------------------------
Title Area Styling
--------------------------------------*/

.title-area {
  margin-bottom: 45px;
}

.title-area h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2.5em;
  color: #2a2a2a;
}

.author {
  margin: 0;
  margin-top: 3px;
  font-size: 1em;
  color: gray;
}

.date {
  margin: 0;
  color: #2ecc71;
  font-size: 1.2em;
  margin-top: 10px;
}

@media (max-width: 650px) {
  .title-area {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .title-area h1 {
    font-size: 2em;
  }
  .author {
    font-size: .9em;
  }
}

/*-------------------------------------
Blog Styling
--------------------------------------*/

.content-area h3 {
  color: #2a2a2a;
  font-size: 2em;
  margin: 35px 0 12px 0;
}

.content-area h5 {
  color: #2a2a2a;
  font-size: 1.5em;
  margin: 28px 0 8px 0;
}

.content-area p {
  margin: 12px 0 25px 0;
  color: rgba(0,0,0,.8);
  line-height: 170%;
  font-size: 18px;
}

.content-area b {
  font-size: 18px;
}

.content-area i {
  font-size: 18px;
}

.content-area u {
  font-size: 18px;
}

.content-area strike {
  font-size: 18px;
}

.content-area a {
  color: #2ecc71;
  transition: all .3s;
  text-decoration: none;
  border-bottom: solid #2ecc71 1px;
  font-size: 18px;
}

.content-area a:hover {
  color: #54d98c;
}

.content-area ul {
  line-height: 190%;
}

.content-area li {
  font-size: 18px;
  color: rgba(0,0,0,.8);
}

.content-area ol {
  line-height: 190%;
}

.content-area blockquote {
  font-size: 18px;
  line-height: 170%;
  color: rgba(0,0,0,.8);
  border-left: solid rgba(0, 0, 0, 0.6) 2px;
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 22px;
}

.content-area img {
  width: 90%;
  margin: 12px 5% 12px 5%;
  height: auto;
}

.content-area .caption {
  color: grey;
  font-size: .95em;
  text-align: center;
  margin: -10px 0 12px 0;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left: -20%;
  width: calc(700px + 20%);
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.left img {
  display: inline-block;
  width: 550px;
  margin: 0;
  margin-right: 30px;
  border-radius: 6px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.left p {
  display: inline-block;
  width: 240px;
  margin: 0;
  vertical-align: top;
  margin-top: 20px;
  padding-right: 10px;
}

.right {
  position: relative;
  margin-right: -20%;
  width: calc(700px + 20%);
  margin-top: 20px;
  margin-bottom: 30px;
}

.right img {
  display: inline-block;
  width: 550px;
  margin: 0;
  margin-left: 30px;
  border-radius: 6px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.right p {
  display: inline-block;
  width: 250px;
  margin: 0;
  vertical-align: top;
  margin-top: 20px;
}

button {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 18px 12px 18px;
  font-size: .95em;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0;
  transition: all .3s;
  outline: none;
}

button:hover {
  color: white;
  top: -5px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1020px) {
  .left {
    margin: 0;
    margin-left: 0;
    width: 100%;
  }

  .left img {
    width: 90%;
    margin: 12px 5% 12px 5%;
    height: auto;
    display: block;
  }

  .left p {
    display: block;
    text-align: center;
    margin: 0px 0 12px 0;
    width: 100%;
    text-align: left;
    padding-right: 0;
  }

  .right {
    margin: 0;
    margin-right: 0;
    width: 100%;
  }

  .right img {
    width: 90%;
    margin: 12px 5% 12px 5%;
    height: auto;
    display: block;
  }

  .right p {
    display: block;
    text-align: center;
    margin: 20px 0 5px 0;
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 550px) {
  .content-area h3 {
    font-size: 1.8em;
  }

  .content-area h5 {
    font-size: 1.4em;
  }
}

@media (max-width: 420px) {
  .content-area img {
    width: 100%;
    margin: 12px 0 12px 0;
    height: auto;
  }
}
